.container {
  display: flex;
}
.full-screen {
  position: absolute;
  height: 100vh;
}

* {
  font-family: Abel, sans serif;
}
.filler {
  /*fairy tail (:*/
}
.buttonStyle {
  font-weight: bolder !important;
  font-size: 2.1vw !important;
  width: 100%;
}
.navIconSvg {
  width: 30px !important;
  height: 30px !important;
  padding: 10px;
}
.navIconGit {
  width: 26px !important;
  height: 26px !important;
  padding: 10px;
}
.contactVia {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.contactVia a {
  opacity: 1;
  color: black;
}
.nameTag {
  position: absolute;
  min-width: 600px;
  top: 85%;
  left: 90%;
  font-size: 50px;
  text-shadow: -1px 0 black, 0 -1px black;
  transform: translate(-90%, -85%);
  color: whitesmoke;
  text-align: right;
}
.hello {
  position: absolute;
  min-width: 600px;
  top: 25%;
  left: 50%;
  text-shadow: -1px 0 black, 0 -1px black, 0 -1px black, 0 -1px black;
  font-size: 90px;
  transform: translate(-50%, -25%);
  color: whitesmoke;
  text-align: right;
}
.myName {
  font-weight: bolder;
  transition: all 0.5 ease-in-out;
}
.greeting {
  font-weight: bolder;
  color: whitesmoke;
}
.myName::before {
  content: "";
  position: absolute;
  width: 42%;
  top: 20%;
  z-index: -42;
  left: 103.9%;
  transform: translate(-103.9%, -20%);
  height: 17px;
  display: block;
  background: rgba(148, 24, 236, 0.712);
}

.fade-in {
  animation: fade 0.5s ease-in-out both;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 270px;
}
.boo {
  display: none;
}

.universe {
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
}
div.navbar {
  background-color: whitesmoke;
  opacity: 50%;
  height: 100%;
  padding-bottom: 80px 0px;
}
@media only screen and (max-width: 850px) {
  div.navbar {
    /*   display: none;*/
    width: 200px;
  }
}
@media only screen and (max-width: 730px) {
  .nameTag {
    width: auto;
  }
  .navIconSvg {
  width: 25px !important;
  height: 25px !important;
  padding: 8px;
}
.navIconGit {
  width: 21px !important;
  height: 21px !important;
  padding: 8px;
}

  .nameTag > br {
    display: block;
    margin-bottom: -20px;
  }

  .myName {
    position: relative;
    width: 200px;
    display: inline-block;
    font-size: 80%;
  }

  .myName::before {
    width: 100%;
    height: 10px;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
  }

  .def.fade-in {
    width: 400px;
    display: inline-block;
    font-size: 30px;
  }

  .greeting.fade-in {
    font-size: 70px;
    padding-right: 55px;
  }
}

@media only screen and (max-width: 680px) {
  div.navbar {
    width: 150px;
  }
  .myName {
  }
  .buttonStyle {
    font-size: 5vw;
  }
  .boo {
    display: flex;
  }
}
