.container {
  display: flex;
}
.full-screen {
  position: absolute;
  height: 100vh;
}
.restOfPage {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: auto;
}
.label {
  color: black;
  font-size: 75px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.desc {
  padding: 20px 70px;
  text-align: start;
  font-size: 20px;
  width: 100%;
  letter-spacing: 0.3px;
  margin: 0 auto;
}

p.desc {
  padding: 0px 70px;
}

h6.desc{
  font-size: 25px;
}

.cardCss {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.innerCardCss {
  display: flex;
  justify-content: center;
}
